@font-face {
   font-family: "Proxima Nova";
   src : url("./fonts/Proxima Nova/Proxima Nova Bold.otf") format('opentype');
   font-weight: 700;
   font-style: normal;
   font-stretch: normal;
 }
@font-face {
   font-family: "Proxima Nova";
   src : url("./fonts/Proxima Nova/ProximaNova-Regular.otf") format('opentype');
   font-weight: 400;
   font-style: normal;
   font-stretch: normal;
 }
*{
   margin: 0;
   padding: 0;
}
html{
   font-size: 14px;
   font-family: "Proxima Nova", sans-serif;
   font-weight: 400;
}
a{
   color: #fff;
   text-decoration: none;
}
a:hover,
a.active{
   color: #F5AC42;
}
h1{
   font-size: 5.8rem;
   text-align: left;
   font-weight: 400;
   text-transform: uppercase;
   letter-spacing: 2px;
}
h2{
   font-size: 3.43rem;
   font-weight: 400;
   text-transform: uppercase;
}
h3{
   font-size: 1.2rem;
   line-height: 2.15rem;
   text-transform: uppercase;
   font-weight: bold;
   padding-bottom: 30px;
}
nav{
   display: flex;
   justify-content: space-between;
   background: #000;
   color: #fff;
   padding: 25px 85px;
   position: fixed;
   top: 0;
   width: 100%;
}
.menu-wrap{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
ul{
   list-style: none;
}
.menu{
   display: flex;
}
.item{
   font-size: .9rem;
   font-weight: bold;
   text-transform: uppercase;
   padding: 10px;
} 
.burger{
   display: none;
   position: absolute;
   right: 10px;
   top: 10px;
   padding: 20px 10px 10px;
   height: 40px;
   width: 50px;
   cursor: pointer;
}
.burger-container {
   position: relative;
   height: 24px;
   width: 26px;
}
.bar {
   position: absolute;
   display: block;
   height: 3px;
   width: 25px;
   border-radius: 2px;
   background: #fff;
   transition: 0.2s ease-in-out;
   &:first-child {
      top: 0;
   }
   &:last-child {
      bottom: 0;
   }
   &:nth-child(2){
      top: 11px;
   }
}
.burger-cross {
   .bar {
      width: 28px;
      left: 0;
      &:first-child {
         top: 4px;
         transform: translateY(7px) rotate(45deg);
      }
      &:nth-child(2) {
         transform: scale(0);
      }
      &:last-child {
         bottom: 3px;
         transform: translateY(-7px) rotate(-45deg);
      }
   }
}
.closeMenu {
   .bar {
      width: 25px;
      &:first-child {
         transform: translateY(7px) rotate(45deg);
      }
      &:nth-child(2) {
         transform: scale(0);
      }
      &:last-child {
         transform: translateY(-7px) rotate(-45deg);
      }
   }
}
.toggle{
   display: none;
}
.top1,
.top2{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   text-align: right;
   button{
      margin-bottom: 20px;
   };
   margin-top: 93px;
}
.top1{
   background: url(./img/camada4.png) no-repeat top;
   background-size: cover;
   color:#000;
   padding: 25% 0 5%;
}
.top2{
   background: url(./img/camada3.png) no-repeat top;
   background-size: cover;
   color:#fff;
   padding: 20% 0 10%;
} 
.container{
   max-width: 500px;
   height: 100%;
   margin: 0 auto;
}
.hidden{
   display: none;}
.top-button{
   color: #fff;
   background-color: #000;
   padding: 16px 41px;
   margin-top: 60px;
   border: none;
}
.shop{
   text-align: center;
   padding: 145px 0 215px;
}
.subtitle{
   text-transform: uppercase;
   text-align: center;
   padding: 20px 0 25px;
}
.shop-ad{
   font-size: 1.7rem;
   text-transform: uppercase;
   font-weight: bold;
   padding-top: 50px;
}
.snowboarding{
   background: url(./img/bg.png) no-repeat center;
   background-size: cover;
   color: #fff;
   padding: 245px 0 185px;
   h2{
      color: #fff;
      padding-bottom: 75px;
   }
   p{
      padding-bottom: 50px;
   }
}
.container-600{
   max-width: 600px;
   margin-left: 210px;
}
.features{
   text-align: center;
   padding: 75px 0 135px;
   h2{
      text-align: center;
   }
}
.x-img{
   padding: 35px 0 85px;
}
.container-940{
   max-width: 940px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
}
.features-img{
   padding: 10px;
   p{
      text-align: left;
      width: 221px;
      font-size: 1.15rem;
      line-height: 2.15rem;
      font-weight: bold;
   }
   flex-shrink: 1;
}
.picture{
   width: 100%;
   height: auto;
}
footer{
   background-color: #000;
   color:#fff;
   padding: 75px 0;
}
.container-980{
   max-width: 940px;
   padding: 20px;
   margin: 0 auto;
}
.footer-menu{
   display: flex;
   justify-content: space-between;
}
.menu-section{
   ul{
      font-size: 1.2rem;
      line-height: 2.15rem;
   }
}
form{
   display: flex;
}
.input{
   height: 20px;
   border: none;
   width: 100%;
   padding: 10px;
}
.go-button{
   padding: 12px 20px;
   background: #c7c7c7;
   border: none;
   font-size: 1.07rem;
   color: #010101;
}
.social{
   padding-top: 60px;
}


//  media

@media screen and (max-width: 1000px){
   .container-940{
      flex-wrap: wrap;
      justify-content: space-around;
   }
   h3{
      text-align: center;
   }
   .footer-menu{
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
   }
   .menu-section{
      padding-bottom: 30px;
   }
}
@media screen and (max-width: 700px){
   h1{
      font-size: 4.5rem;
   }
   h2{
      font-size: 2.3rem;
   }
   .container-600{
      max-width: 600px;
      margin: 0 auto;
      padding: 0 20px;
   }
   .snowboarding{
      padding: 100px 0;
   }
}
@media screen and (max-width: 520px){
   .nav-menu{
      padding: 15px;
   }
   .menu-wrap{
      flex-direction: column;
      align-items: flex-start;
   }
   ul.menu{
      display: none;
      flex-direction: column; 
   }
   ul.show{
      display: flex;
   }
   .menu-item{
      padding: 10px;
      text-align: left;
   }
   .toggle{
      display: block;
   }
   .container{
      padding: 0 20px;
      text-align: center;
   }
   h1{
      font-size: 2.5rem;
      text-align: center;
   }
}